extends layout

block pageStatic
  script(src="/dist/js/user.js")

block content
  .login-container
    .login-box
      h1.logo MQ
        span  yun
      form.login-form(autocomplete="off")
        input.login-item(type="text" name="account" placeholder='account')
        input.login-item(type="password" name="password" placeholder='password')
        button.btn-login(type="button") 登&nbsp;&nbsp;&nbsp;录