imgUrl = '/images/'

html, body, .login-container
  width 100%
  height 100%

body
  background url(imgUrl'login_bg.jpg') no-repeat center
  background-size cover
  .login-container
    background rgba(0, 0, 0, .2)